<div [ngClass]="{'drop-shadow-[0_3px_2px_rgba(0,0,0,0.5)] transition-all delay-100' : hasShadow}"
    class="fixed top-0 left-0 right-0 z-[99] px-[1.5rem] lg:px-[3rem] md:px-[3rem] pt-[2rem] lg:py-[1rem] md:py-[1rem] h-fit transition-all delay-100 duration-300 ">

    <div class="hidden lg:flex md:flex sm:hidden justify-between items-center">
        <logo-link />
        <nav-list />
        <social-list />
    </div>

    <div class="flex lg:hidden md:hidden sm:flex flex-col">

    </div>
</div>