<section
  class="flex justify-center items-end px-12 pb-2 h-screen w-screen">
  <div class="flex flex-col items-start lg:items-end md:items-end sm:items-end gap-6">
    <span class="text-white/50 text-sm font-label font-light">ROLE A PAGINA</span>
    <atom-portfolio-img
      imageUrl="https://raw.githubusercontent.com/Soppinha/my-icons/refs/heads/main/portifolio/images/meu-portfolio.svg"
      class="hidden lg:block md:block sm:block"/>
    <atom-portfolio-img
      imageUrl="https://raw.githubusercontent.com/Soppinha/my-icons/refs/heads/main/portifolio/images/meu-portfolio-sm.svg"
      class="block lg:hidden md:hidden sm:hidden"/>
  </div>
</section>
