<ul class="flex flex-col lg:flex-row gap-0 lg:gap-4">

  <atom-nav-item [sectionId]="'about'"
            [text]="'Sobre mim'"
            class="items-center text-yellow-lemonade border-y border-[#404040] lg:border-none"/>

  <atom-nav-item [sectionId]="'projects'"
            [text]="'Projetos'"
            class="items-center text-white"/>

  <atom-nav-item [sectionId]="'certificates'"
            [text]="'Certificados'"
            class="items-center text-white border-y border-[#404040] lg:border-none"/>
</ul>
