<div class="flex flex-row items-center gap-[1rem]">
  <social-item aria="Email"
               imageUrl="https://raw.githubusercontent.com/Soppinha/my-icons/579ec7eecc4488f6beadd3bdc3920fe69b51e882/portifolio/icons/email.svg"
               link="mailto:sofiavbastos@outlook.com"/>

  <social-item aria="LinkedIn"
               link="https://www.linkedin.com/in/sofia-valadares-bastos/"
               imageUrl="https://raw.githubusercontent.com/Soppinha/my-icons/579ec7eecc4488f6beadd3bdc3920fe69b51e882/portifolio/icons/GitHubLink.svg"/>

  <social-item aria="GitHub"
               imageUrl="https://raw.githubusercontent.com/Soppinha/my-icons/579ec7eecc4488f6beadd3bdc3920fe69b51e882/portifolio/icons/LinkedinLink.svg"
               link="https://github.com/Soppinha"/>
</div>
